/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin-top: 0; /*margin top pour pouvoir coller les lien de navigation en haut de l''écran*/
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px; /*affichage pour les ecrans larges*/
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
     /*font-size: 22px; changement de px à em pour que la police s'adapte à l'écran (valeur relative)*/
    font-size: 1.5em;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
     /*font-size: 16px; changement de px à em pour que la police s'adapte à l'écran (valeur relative)*/
    font-size: 1em;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/* creation des class pour les flex box*/
.header_flex{
    display: flex;
    justify-content:space-between; /*mise en place d'un espace entre les élements de la flex box header*/
    flex-direction: row; /* mise en ligne des éléments de la flexbox*/
    padding-bottom: 40px; /*mise d'un espace sous le header*/
    
}
/* flex box du logo avec adaptation de la taille pour correspondre à la maquette*/
.logo_flex{
    width: 61.1px;
    height: 19px;
    display: flex;
    justify-content: flex-start; /* alignement à gauche de l'écran*/
    padding-top: 40px; /* descente du logo par rapport au haut de la page*/
    


}

.nav_flex{
    display: flex;
    list-style-type: none; /* retrait des puce de la liste utilisé pour les les boutons de navigation*/
    justify-content: flex-end; /*alignement de la flex box nav_flex à droite*/
    

    

}
.active_nav{
    padding: 10px;/*mise en place d'une séparation entre les éléments de la liste utilisé pour les liens de navigation*/
}
/*création de la barre bleu et changement de la couleur du texte dulien de navigation sur un clic */
.active_nav:active{
    border-top: 3px #0065FC solid;

    color:#0065FC;

}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        /*font-size: 14px; changement de px à em pour que la police s'adapte à l'écran (valeur relative)*/
        font-size: 0.8em;
    }

    .populaires-cards .card-subtitle {
        /*font-size: 13px; changement de px à em pour que la police s'adapte à l'écran (valeur relative)*/
        font-size: 0.7em;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    .header_flex{
        flex-direction: column; /* passage de l'alignement horizontal à vertical en dessous de 768px*/
    } 


    .logo_flex{

        height: 50px; /*agrandissement du logo*/
        margin: auto; /* centrage du logo*/
        justify-content: center;/* centrage du logo*/
        padding-top: 40px;/* espace entre le haut de la page et le logo*/
        padding-bottom: 40px; /* espace entre le logo et les lien de navigation*/
    
    
    }
/* ecartement et centrage des bouton de navigation*/
    .active_nav{  
        justify-content:center;
        align-items: center;
        margin: auto;

    }

    .active_nav:active{  
        border-top: none;/*fait disparaitre le trait bleu au dessus au clic*/
        border-bottom: 3px #0065FC solid;/*le remplace par un trait bleu au dessous au clic*/

    }
}