/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin-top: 0; /*margin top pour pouvoir coller les lien de navigation en haut de l''écran*/
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

    
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-container {
    width: 100%;
    max-width: 1440px; /*affichage pour les ecrans larges*/
    padding: 0 50px;
    box-sizing: border-box;

}

.section-title {
    margin: 0;
     /*font-size: 22px; changement de px à em pour que la police s'adapte à l'écran (valeur relative)*/
    font-size: 1.375rem;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
     /*font-size: 16px; changement de px à em pour que la police s'adapte à l'écran (valeur relative)*/
    font-size: 1rem;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/* creation des class du header*/
.header_flex{
    display: flex;
    padding-right: 1rem;
    padding-left: 1rem;
    justify-content:space-between; /*mise en place d'un espace entre les élements de la flex box header*/
    flex-direction: row; /* mise en ligne des éléments de la flexbox*/
    padding-bottom: 2.5rem; /*mise d'un espace sous le header*/
    
}
/* flex box du logo avec adaptation de la taille pour correspondre à la maquette*/
.logo_flex{
    height: 1.188rem;
    display: flex;
    justify-content: flex-start; /* alignement à gauche de l'écran*/
    padding-top: 2.5rem; /* descente du logo par rapport au haut de la page*/
    


}

.nav_flex{
    display: flex;
    list-style-type: none; /* retrait des puce de la liste utilisé pour les les boutons de navigation*/
    padding-left: 0rem; /*suppresion de l'écart entre le bord de la liste et de ses éléments*/
    
    

}
.active_nav{
    padding: 0.625rem;/*mise en place d'une séparation entre les éléments de la liste utilisé pour les liens de navigation*/
}
/*création de la barre bleu et changement de la couleur du texte du lien de navigation sur un clic */
.active_nav:hover{
    border-top: 3px var(--main-color) solid;

    

}
.active_nav:active{
    color:var(--main-color);

}
/* creation des class pour le formulaire*/
.formulaire_adresse{
    width: 377px;
    height: 49px;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;

    
}
.formulaire_input{
    color:black;

    border-top: 1px var(--main-bg-color) solid;
    border-bottom: 1px var(--main-bg-color) solid;
    border-left: none;
    border-right: none;
    text-align: center;
}

.formulaire_icone{
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    border: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    border: #F2F2F2;
}
/*definition de l'apparence du bouton ecran large  et dissimulation du bouton pour petit ecran*/
.formulaire_button_large{
    border-radius: 0px 15px 15px 0px;
    background-color: var(--main-color);
    border: none;
    color: white;
    padding: 15px 16px 15px 16px;
    border: 1px;
    gap: 10px;
}
.formulaire_button_small{
    display: none;

}
.formulaire_text{
    font-size: 1rem;
    font-weight: 700;
}
/* mise en forme de la partie filtre*/
.filtre_group{
    height: 50px; /*definition de la hauteur du filtre*/
    display: flex;
    flex-direction: row;
    gap: 15px;  /*mise d'un ecartement entre chaque élément de la barre des filtres*/
    padding-left: 0; /*réalignement de la barre de filtre sur la marge de la page*/
}
.filtre_titre{

    padding-top: 10px; /*decalage du titre par rapport au haut de la barre des filtres*/
}
.filtre_button{
    display: flex;
    border: 2px var(--main-bg-color) solid ;
    padding: 4px 19px 4px 19px; /*espacement autour du contenu des boutons de filtres*/
    border-radius: 25px; /*arrondissement des bords*/
    gap: 10px; /*écartement entre les éléments du bouton*/
    align-items: center;
    font-size: 1rem;
    font-weight: 700;

}
/* changement de la couleur au survol*/
.filtre_button:hover{
    background-color: #DEEBFF;

}
/*mise en forme bandeau d'info*/
.bandeau_info{
    height: 10px;
    display: flex;
    flex-direction: row;
    
    
}
.bandeau_info_texte{
    padding: auto;
}
.bandeau_info_icone{
    width: 10px;
    height: 10px;
    display: flex;
    border-radius: 48% 52% 48% 52% / 46% 49% 51% 54% ;
    padding: 4px 8px 8px 4px;
    border: 1px var(--main-bg-color) solid ; 
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        /*font-size: 14px; changement de px à em pour que la police s'adapte à l'écran (valeur relative)*/
        font-size: 0.875rem;
    }

    .populaires-cards .card-subtitle {
        /*font-size: 13px; changement de px à em pour que la police s'adapte à l'écran (valeur relative)*/
        font-size: 0.813rem;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    .header_flex{
        flex-direction: column; /* passage de l'alignement horizontal à vertical en dessous de 768px*/
    } 


    .logo_flex{
        height: 3.125rem; /*agrandissement du logo*/
        margin: auto; /* centrage du logo*/
        justify-content: center;/* centrage du logo*/
        padding-bottom: 2.5rem; /* espace entre le logo et les lien de navigation*/
    
    
    }
/* ecartement et centrage des bouton de navigation*/
    .active_nav{ 
        justify-content:center;
        align-items: center;
        margin: auto;
        gap: 15 px;
    }

    .active_nav:hover{  
        border-top: none;/*fait disparaitre le trait bleu au dessus au clic*/
        border-bottom: 3px var(--main-color) solid;/*le remplace par un trait bleu au dessous au clic*/

    }
/*definition de l'apparence du bouton pour petit ecran  et dissimulation du bouton pour ecran large*/
   .formulaire_box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formulaire_button_large{
        display: none;
    }
    .formulaire_button_small{
        display:flex;
        border-radius: 0px 15px 15px 0px;
        background-color: var(--main-color);
        border: none;
        padding: 15px 16px 15px 16px;
        border: 1px;
        
    
    }
/* mise en colonne de la barre des filtres et redimensionnement de celle ci*/
.filtre_group{
    flex-direction: column;
    align-items: center;
}
.filtre_button{
    width: 270px;


}
.bandeau_info{
    position: relative;
    top: 200px;
    
    
}
.hebergements-and-populaires {
    position: relative;
    top: 200px;
}

}
